## E20 - DB&SQL

In [2]:
import sqlite3
import os
db_path = os.getenv('HOME')+'/aiffel/sql_to_db/sqlite/mydb.db'
conn = sqlite3.connect(db_path)  # mydb.db에 연결합니다.
print(conn)

<sqlite3.Connection object at 0x7febb1d698f0>

In [ ]:
# cursor(): SQL 질의를 수행하고 결과를 얻는데 사용하는 객체
c = conn.cursor()
print(c)

In [ ]:
# stocks이라는 이름의 테이블을 하나 생성합니다. 혹시 이미 생성되었다면 생략합니다. 
c.execute("CREATE TABLE  IF NOT EXISTS  stocks (date text, trans text, symbol text, qty real, price real)")

# stocks 테이블에 데이터를 하나 인서트합니다. 
c.execute("INSERT INTO stocks VALUES ('20200701', 'TEST', 'AIFFEL', 1, 10000)")

# 방금 인서트한 데이터를 조회해 봅니다.
c.execute("SELECT * FROM stocks")

# 조회된 내역을 커서를 통해 가져와 출력해 봅니다.
print(c.fetchone())

In [ ]:
conn.commit()   # commit()은 cursor의 메소드가 아니라 connection의 메소드입니다.

In [ ]:
c.close()      # 먼저 커서를 닫은 후
conn.close()   # DB 연결을 닫아 줍니다.

In [ ]:
import sqlite3
import os
db_path = os.getenv('HOME')+'/aiffel/sql_to_db/sqlite/mydb.db'

conn = sqlite3.connect(db_path)
c = conn.cursor()

#- ! 재실행 시 테이블이 존재할 수 있으므로 아래처럼 해당 테이블들을 모두 지워줍니다.
c.execute("DROP TABLE IF EXISTS 도서대출내역")
c.execute("DROP TABLE IF EXISTS 도서대출내역2")
c.execute("DROP TABLE IF EXISTS 대출내역")
c.execute("DROP TABLE IF EXISTS 도서명")


#----- 1st table : 도서대출내역 -----#
c.execute("CREATE TABLE IF NOT EXISTS 도서대출내역 (ID varchar, 이름 varchar, 도서ID varchar, 대출일 varchar, 반납일 varchar)")
#- 생성(create)문 : 테이블명, 변수명, 변수타입을 지정

data = [('101','문강태','aaa','2020-06-01','2020-06-05'),
             ('101','문강태','ccc','2020-06-20','2020-06-25'),
             ('102','고문영','bbb','2020-06-01',None),
             ('102','고문영','ddd','2020-06-08',None),
             ('103','문상태','ccc','2020-06-01','2020-06-05'),
             ('104','강기둥',None,None,None)]
#- 입력할 데이터를 그대로 입력 (변수명 순서 기준대로)

c.executemany('INSERT INTO 도서대출내역 VALUES (?,?,?,?,?)', data)
#- 입력할 데이터를 실제 테이블에 insert하기
#-----------------------------------------------#


#----- 2nd table : 도서대출내역2 -----#
c.execute("CREATE TABLE IF NOT EXISTS 도서대출내역2 (ID varchar, 이름 varchar, 대출년월 varchar, 대출일수 varchar)")

data = [('101','문강태','2020-06','20일'),
             ('102','고문영','2020-06','10일'),
             ('103','문상태','2020-06','8일'),
             ('104','강기둥','2020-06','3일')]
c.executemany('INSERT INTO 도서대출내역2 VALUES (?,?,?,?)', data)
#--------------------------------------------------#


#----- 3rd table : 대출내역 -----#
c.execute("CREATE TABLE IF NOT EXISTS 대출내역 (ID varchar, 이름 varchar, 도서ID varchar)")

data = [('101','문강태','aaa'),
             ('102','고문영','bbb'),
             ('102','고문영','fff'),
             ('103','문상태','ccc'),
             ('104','강기둥',None)]
c.executemany('INSERT INTO 대출내역 VALUES (?,?,?)', data)
#-----------------------------------------#


#----- 4th table : 도서명 -----#
c.execute("CREATE TABLE IF NOT EXISTS 도서명 (도서ID varchar, 도서명 varchar)")

data = [('aaa','악몽을 먹고 자란 소년'),
             ('bbb','좀비아이'),
             ('ccc','공룡백과사전'),
             ('ddd','빨간구두'),
             ('eee','잠자는 숲속의 미녀')]

c.executemany('INSERT INTO 도서명 VALUES (?,?)', data)
#--------------------------------------#

conn.commit()
conn.close()

In [ ]:
conn = sqlite3.connect(db_path)
c = conn.cursor()

for row in c.execute('SELECT * FROM 도서명'):
  print(row)

In [ ]:
# SELECT * FROM 도서대출내역 WHERE 이름 = "문강태";
# SELECT 이름 FROM 도서대출내역 GROUP BY 이름;
# SELECT DISTINCT 이름 FROM 도서대출내역;
# SELECT * FROM 도서대출내역 ORDER BY ID (DESC);  내림차순: DESC
# SELECT * FROM 도서대출내역 LIMIT 5 ;
# SELECT 이름, 대출일, 반납일 FROM 도서대출내역 ORDER BY 대출일 DESC LIMIT 1;

# SELECT *, SUBSTR(대출일수, 1, (length(대출일수)-1)) AS 대출일수_수정 FROM 도서대출내역2;
# SELECT *, CAST(SUBSTR(대출일수, 1, (length(대출일수)-1)) AS INT) AS 대출일수_수정 FROM 도서대출내역2 ;
# CAST(): 형 변환 함수 (형 변환하고 싶은 컬럼명 as 변환하고 싶은 타입)
# 대출일 평균 구하는 쿼리
# SELECT ID, 이름, 대출년월, AVG(CAST(SUBSTR(대출일수, 1, (length(대출일수)-1)) AS INT)) AS 대출일수_평균 
# FROM 도서대출내역2 GROUP BY 1,2,3;

# SELECT * FROM 도서대출내역2 WHERE 이름 LIKE "문%";  "%문%", "%문"
# SELECT * FROM 도서대출내역 WHERE 대출일 >= "2020-06-01" AND 대출일 <= "2020-06-07";
# SELECT * FROM 도서대출내역 WHERE 대출일 BETWEEN "2020-06-01" AND "2020-06-07";
# SELECT *, CAST(SUBSTR(대출일수, 1, (length(대출일수)-1)) AS INT) AS 대출일수_수정 
# FROM 도서대출내역2 WHERE 대출일수_수정 > 5 ;
# SELECT * FROM 도서대출내역 WHERE 반납일 IS NOT NULL;

# join: 두 개의 테이블을 조회하기
# select A.*, B.도서명 from 대출내역 as A
# inner join 도서명 as B on A.도서ID=B.도서ID;

# select A.*, B.도서명 from 대출내역 as A
# left join 도서명 as B on A.도서ID=B.도서ID;

# select A.*, B.도서명 from 대출내역 as A
# right join 도서명 as B on A.도서ID=B.도서ID;

# select A.*, B.도서명 from 대출내역 as A
# full outer join 도서명 as B on A.도서ID=B.도서ID;

# 중첩질의
# SELECT C.이름, COUNT(*) 대출건수 FROM (
#    SELECT A.*, B.도서명 
#    FROM 대출내역 AS A 
#    LEFT JOIN 도서명 AS B
#    ON A.도서ID = B.도서ID ) C
# GROUP BY C.이름

# null값 변경하는 함수: IFNULL(값1, 값2-바꿀 내용)
# SELECT A.*, IFNULL(B.도서명, '도서명미상') AS 도서명 FROM 대출내역 AS A 
# LEFT JOIN 도서명 AS B ON A.도서ID = B.도서ID

# SELECT 이름, CASE WHEN 대출일수_수정 > 5 THEN '기간초과' ELSE '기간내' END AS 대출기간
# FROM (
# SELECT *, CAST(SUBSTR(대출일수, 1, (length(대출일수)-1)) AS INT) AS 대출일수_수정 FROM 도서대출내역2 )