## F39 - 빅데이터 생태계

###### . 2002년   
    더그 커팅(Doug Cutting)과 마이크 카파렐라(Mike Cafarellr)가 웹 크롤러 너치(Nutch)개발   
###### . 2003년   
    구글에서 분산 처리용 파일 시스템 발표 GFS(Google File System)   
###### . 2004년   
    구글에서 분산 처리용 프로그래밍 모델 발표 맵리듀스(MapReduce)   
###### . 2005년   
    더그 커팅, 마이크 카파렐라 주도 하에 NDFS(Nutch Distributed File System) 프로젝트 시작   
###### . 2006년   
    더그 커팅 야후 합류   
    야후에서 최소의 하둡 기반 클러스터 구축   
    구글에서 빅테이블 공개, 이후 아파치 하둡의 HBase 근간이 된다.   
###### . 2007년   
    아파치 하둡 1.0 발표   
###### . 2008년   
    하둡의 하위 프로젝트로 SQL관련 컴포넌트 개발 하이브(Hive)   
    클라우데라 창업 (하둡 상용화 버전)   
###### . 2009년   
    UC 버클리대학의 마태 자하리아가 스파크 연구 시작   
###### . 2012년   
    하둡의 컴포넌트인 얀(YARN)개발   
    최초의 하둡용 네이티브 MPP 분석용 컴포넌트 임팔라(Impala)개발   
###### . 2014년   
    아파치 스파크 1.0출시   
    마태 자하리아, 알리 고디시 등 데이터브릭스 창업

Pyspark 설치하기   
java, spark, python 필요   
sudo apt-get install openjdk-8-jdk-headless -y   자바설치하기   

spark 다운받기
wget http://mirror.apache-kr.org/spark/spark-3.0.1/spark-3.0.1-bin-hadoop2.7.tgz
tar xf spark-3.0.1-bin-hadoop2.7.tgz   압축풀기
cd spark-3.0.1-bin-hadoop2.7
bin폴더 내에 ./spark-shell 실행

pyspark 설치 pip install pyspark

In [2]:
import pyspark
pyspark.__version__

'3.0.1'

In [3]:
# SparkContext객체를 통해서만 spark의 모든 기능에 접근이 가능하다.
# 스파크 프로그램당 한번만 실행 가능, 사용 후에는 종료해야 한다.
# SparkContext객체 생성 = spark 초기화
# pyspark의 sparkContext는 JVM위에서 동작하는 Py4J의 sparkContext와 연결된다.
# sparkContext의 주요 내용
# 1. 문법: pyspark.SparkContext()
# 2. 스파크기능의 기본 엔트리 포인트
# 3. 스파크 클러스터와 연결을 나타내며 RDD를 만들고 브로드캐스트하는데 사용될 수 있다.
# 4. JVM당 하나만 활성화해야 하며, 새로운 것을 만들기 전에 활성을 중지해야 한다.

from pyspark import SparkConf, SparkContext

sc = SparkContext()
sc

In [4]:
type(sc)

pyspark.context.SparkContext

In [5]:
# sparkContext()객체를 더 만들 시 에러 발생

new_sc = SparkContext()

ValueError: Cannot run multiple SparkContexts at once; existing SparkContext(app=pyspark-shell, master=local[*]) created by __init__ at <ipython-input-3-ecceb6144d92>:13

In [6]:
# 종료
sc.stop()

In [7]:
# 설정 세팅 가능
sc = SparkContext(master='local', appName='PySpark Basic')
sc

# spark web-ui버전 이용시 로컬 모드의 경우 http://localhost:8080

In [8]:
# 생성한 sparkcontext객체의 설정확인

sc.getConf().getAll()

[('spark.master', 'local'),
 ('spark.driver.port', '45789'),
 ('spark.driver.host', '192.168.0.12'),
 ('spark.app.id', 'local-1600693574122'),
 ('spark.app.name', 'PySpark Basic'),
 ('spark.rdd.compress', 'True'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.submit.pyFiles', ''),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.ui.showConsoleProgress', 'true')]

In [13]:
print(sc.master)
sc.appName

local

'PySpark Basic'

In [14]:
sc.stop()

In [1]:
conf = SparkConf().setAppName('PySpark Basic').setMaster('local')
sc = SparkContext(conf=conf)
sc

NameError: name 'SparkConf' is not defined

In [16]:
# RDD creation
# 1. parallelize(): 내부에서 만들어진 데이터 집합을 병렬화하는 방법

rdd = sc.parallelize([1,2,3])
rdd

ParallelCollectionRDD[0] at readRDDFromFile at PythonRDD.scala:262

In [17]:
type(rdd)

pyspark.rdd.RDD

In [18]:
# 아직 RDD는 생성되지 않았으며 계보만 만들어놓은 상태, actions 실행 시 생성된다.
# take(): 원소를 반환, 인자는 RDD의 원소의 갯수

rdd.take(3)

[1, 2, 3]

In [8]:
# 2. .textfile(): 외부의 파일을 로드하는 방법

import os

file_path = os.getenv('HOME')+'/aiffel/bigdata_ecosystem/test.txt'
with open(file_path, 'w') as f:
    for i in range(10):
        f.write(str(i)+'\n')
        
print('OK')

OK

In [20]:
# 외부에서 파일을 읽어올 때 데이터 타입은 string이다.
rdd2 = sc.textFile(file_path)
print(rdd2)
print(type(rdd2))

/home/aiffel0042/aiffel/bigdata_ecosystem/test.txt MapPartitionsRDD[3] at textFile at NativeMethodAccessorImpl.java:0
<class 'pyspark.rdd.RDD'>

In [21]:
rdd2.take(3)

['0', '1', '2']

In [22]:
# RDD Operation
# 1. transformations
# map()

x = sc.parallelize(["b", "a", "c", "d"])
y = x.map(lambda z: (z, 1))
print(x.collect()) #collect()는 actions입니다. 
print(y.collect())

['b', 'a', 'c', 'd']
[('b', 1), ('a', 1), ('c', 1), ('d', 1)]

In [23]:
nums = sc.parallelize([1, 2, 3])
squares = nums.map(lambda x: x*x)
print(squares.collect())

[1, 4, 9]

In [24]:
# filter()

x = sc.parallelize([1,2,3,4,5])
y = x.filter(lambda x: x%2 == 0) 
print(x.collect())
print(y.collect())

[1, 2, 3, 4, 5]
[2, 4]

In [25]:
text = sc.parallelize(['a', 'b', 'c', 'd'])
capital = text.map(lambda x: x.upper())
A = capital.filter(lambda x: 'A' in x)
print(text.collect())
print(A.collect())

['a', 'b', 'c', 'd']
['A']

In [26]:
# flatmap()

x = sc.parallelize([1,2,3])
y = x.flatMap(lambda x: (x, x*10, 30))
print(x.collect())
print(y.collect())

[1, 2, 3]
[1, 10, 30, 2, 20, 30, 3, 30, 30]

In [27]:
wordsDataset = sc.parallelize(["Spark is funny", "It is beautiful", "And also It is implemented by python"])
result = wordsDataset.flatMap(lambda x: x.split()).filter(lambda x: x != " ").map(lambda x: x.lower())
# 공백은 제거합니다.
# 단어를 공백기준으로 split 합니다. 
result.collect()

['spark',
 'is',
 'funny',
 'it',
 'is',
 'beautiful',
 'and',
 'also',
 'it',
 'is',
 'implemented',
 'by',
 'python']

In [28]:
# CSV 파일 읽어들이기

import os
csv_path = os.getenv('HOME')+'/aiffel/bigdata_ecosystem/train.csv'
csv_data_0 = sc.textFile(csv_path)
csv_data_0.take(5)

['survived,sex,age,n_siblings_spouses,parch,fare,class,deck,embark_town,alone',
 '0,male,22.0,1,0,7.25,Third,unknown,Southampton,n',
 '1,female,38.0,1,0,71.2833,First,C,Cherbourg,n',
 '1,female,26.0,0,0,7.925,Third,unknown,Southampton,y',
 '1,female,35.0,1,0,53.1,First,C,Southampton,n']

In [29]:
# 비어있는 라인은 제외하고, delimeter인 ,로 line을 분리해 줍니다. 
csv_data_1 = csv_data_0.filter(lambda line: len(line)>1).map(lambda line: line.split(","))   
csv_data_1.take(5)

[['survived',
  'sex',
  'age',
  'n_siblings_spouses',
  'parch',
  'fare',
  'class',
  'deck',
  'embark_town',
  'alone'],
 ['0',
  'male',
  '22.0',
  '1',
  '0',
  '7.25',
  'Third',
  'unknown',
  'Southampton',
  'n'],
 ['1', 'female', '38.0', '1', '0', '71.2833', 'First', 'C', 'Cherbourg', 'n'],
 ['1',
  'female',
  '26.0',
  '0',
  '0',
  '7.925',
  'Third',
  'unknown',
  'Southampton',
  'y'],
 ['1', 'female', '35.0', '1', '0', '53.1', 'First', 'C', 'Southampton', 'n']]

In [30]:
columns = csv_data_1.take(1)
columns

[['survived',
  'sex',
  'age',
  'n_siblings_spouses',
  'parch',
  'fare',
  'class',
  'deck',
  'embark_town',
  'alone']]

In [31]:
csv_data_2 = csv_data_1.filter(lambda line: line[0].isdecimal())  # 첫번째 컬럼이 숫자인 것만 필터링
csv_data_2.take(5)

[['0',
  'male',
  '22.0',
  '1',
  '0',
  '7.25',
  'Third',
  'unknown',
  'Southampton',
  'n'],
 ['1', 'female', '38.0', '1', '0', '71.2833', 'First', 'C', 'Cherbourg', 'n'],
 ['1',
  'female',
  '26.0',
  '0',
  '0',
  '7.925',
  'Third',
  'unknown',
  'Southampton',
  'y'],
 ['1', 'female', '35.0', '1', '0', '53.1', 'First', 'C', 'Southampton', 'n'],
 ['0',
  'male',
  '28.0',
  '0',
  '0',
  '8.4583',
  'Third',
  'unknown',
  'Queenstown',
  'y']]

In [32]:
csv_data_3 = csv_data_2.map(lambda line: [(columns[0][i], linedata) for i, linedata in enumerate(line)])
csv_data_3.take(5)

[[('survived', '0'),
  ('sex', 'male'),
  ('age', '22.0'),
  ('n_siblings_spouses', '1'),
  ('parch', '0'),
  ('fare', '7.25'),
  ('class', 'Third'),
  ('deck', 'unknown'),
  ('embark_town', 'Southampton'),
  ('alone', 'n')],
 [('survived', '1'),
  ('sex', 'female'),
  ('age', '38.0'),
  ('n_siblings_spouses', '1'),
  ('parch', '0'),
  ('fare', '71.2833'),
  ('class', 'First'),
  ('deck', 'C'),
  ('embark_town', 'Cherbourg'),
  ('alone', 'n')],
 [('survived', '1'),
  ('sex', 'female'),
  ('age', '26.0'),
  ('n_siblings_spouses', '0'),
  ('parch', '0'),
  ('fare', '7.925'),
  ('class', 'Third'),
  ('deck', 'unknown'),
  ('embark_town', 'Southampton'),
  ('alone', 'y')],
 [('survived', '1'),
  ('sex', 'female'),
  ('age', '35.0'),
  ('n_siblings_spouses', '1'),
  ('parch', '0'),
  ('fare', '53.1'),
  ('class', 'First'),
  ('deck', 'C'),
  ('embark_town', 'Southampton'),
  ('alone', 'n')],
 [('survived', '0'),
  ('sex', 'male'),
  ('age', '28.0'),
  ('n_siblings_spouses', '0'),
  ('parch', '0'),
  ('fare', '8.4583'),
  ('class', 'Third'),
  ('deck', 'unknown'),
  ('embark_town', 'Queenstown'),
  ('alone', 'y')]]

In [33]:
# csv파일을 df형태로 읽어들이기

from pyspark import SparkConf, SparkContext, SQLContext

url = 'https://storage.googleapis.com/tf-datasets/titanic/train.csv'
from pyspark import SparkFiles
sc.addFile(url)
sqlContext = SQLContext(sc)

# sqlContext의 read.csv()함수를 이용하여 df로 만들기(판다스의 df랑 유사하다)
# sqlContext: https://spark.apache.org/docs/1.6.1/sql-programming-guide.html
df = sqlContext.read.csv(SparkFiles.get("train.csv"), header=True, inferSchema= True)
df.show(5, truncate = False)

+--------+------+----+------------------+-----+-------+-----+-------+-----------+-----+
|survived|sex   |age |n_siblings_spouses|parch|fare   |class|deck   |embark_town|alone|
+--------+------+----+------------------+-----+-------+-----+-------+-----------+-----+
|0       |male  |22.0|1                 |0    |7.25   |Third|unknown|Southampton|n    |
|1       |female|38.0|1                 |0    |71.2833|First|C      |Cherbourg  |n    |
|1       |female|26.0|0                 |0    |7.925  |Third|unknown|Southampton|y    |
|1       |female|35.0|1                 |0    |53.1   |First|C      |Southampton|n    |
|0       |male  |28.0|0                 |0    |8.4583 |Third|unknown|Queenstown |y    |
+--------+------+----+------------------+-----+-------+-----+-------+-----------+-----+
only showing top 5 rows

In [34]:
# 위에서 얻은 데이터에서 40세 이상인 사람들의 데이터만 필터링해 봅시다. 
df2 = df[df['age']>40]
df2.show(5, truncate = False)

# transformations: https://spark.apache.org/docs/latest/rdd-programming-guide.html#transformations

+--------+------+----+------------------+-----+-------+------+-------+-----------+-----+
|survived|sex   |age |n_siblings_spouses|parch|fare   |class |deck   |embark_town|alone|
+--------+------+----+------------------+-----+-------+------+-------+-----------+-----+
|0       |male  |66.0|0                 |0    |10.5   |Second|unknown|Southampton|y    |
|0       |male  |42.0|1                 |0    |52.0   |First |unknown|Southampton|n    |
|1       |female|49.0|1                 |0    |76.7292|First |D      |Cherbourg  |n    |
|0       |male  |65.0|0                 |1    |61.9792|First |B      |Cherbourg  |n    |
|0       |male  |45.0|1                 |0    |83.475 |First |C      |Southampton|n    |
+--------+------+----+------------------+-----+-------+------+-------+-----------+-----+
only showing top 5 rows

#### Actions

In [4]:
# collect(): RDD내 모든 값을 리턴한다.

nums = sc.parallelize(list(range(10)))
nums.collect()

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
nums.take(3)

[0, 1, 2]

In [6]:
# count(): RDD내 데이터 갯수
nums.count()

10

In [7]:
# reduce()

nums.reduce(lambda x, y: x + y)

45

In [9]:
# saveAsTextFile(): RDD 데이터를 저장한다.

file_path = os.getenv('HOME')+'/aiffel/bigdata_ecosystem/file.txt'
nums.saveAsTextFile(file_path)

!ls -l ~/aiffel/bigdata_ecosystem

total 40
drwxr-xr-x 2 aiffel0042 aiffel0042  4096  9월 22 09:49 file.txt
-rw-r--r-- 1 aiffel0042 aiffel0042    20  9월 22 09:49 test.txt
-rw-r--r-- 1 aiffel0042 aiffel0042 30874  2월 21  2019 train.csv

In [15]:
# Actions: https://spark.apache.org/docs/latest/rdd-programming-guide.html#actions

# RDD 생성
rdd = sc.parallelize(range(1,100))

# RDD Transformation 
rdd2 = rdd.map(lambda x: 0.5*x - 10).filter(lambda x: x > 0)

# RDD Action 
rdd2.reduce(lambda x, y: x + y)

1580.0

#### MapReduce

In [26]:
# word counter 구현하기

text = sc.parallelize('hello python')

# map 함수를 적용한 RDD 구하기
rdd = text.filter(lambda x: x != " ").map(lambda x: (x, 1))

#reduceByKey 함수를 적용한 Word Counter 출력
rdd2 = rdd.reduceByKey(lambda accum, n: accum + n)
rdd2.collect()

[('n', 1),
 ('h', 2),
 ('o', 2),
 ('l', 2),
 ('y', 1),
 ('e', 1),
 ('t', 1),
 ('p', 1)]

In [27]:
# Titanic 데이터 분석하기

# 이전 스텝에서 CSV 파일을 로딩했던 내역입니다. 
csv_path = os.getenv('HOME')+'/aiffel/bigdata_ecosystem/train.csv'
csv_data_0 = sc.textFile(csv_path)
csv_data_1 = csv_data_0.filter(lambda line: len(line)>1).map(lambda line: line.split(","))   
columns = csv_data_1.take(1)
csv_data_2 = csv_data_1.filter(lambda line: line[0].isdecimal())
csv_data_3 = csv_data_2.map(lambda line: [(columns[0][i], linedata) for i, linedata in enumerate(line)])

csv_data_3.take(3)

[[('survived', '0'),
  ('sex', 'male'),
  ('age', '22.0'),
  ('n_siblings_spouses', '1'),
  ('parch', '0'),
  ('fare', '7.25'),
  ('class', 'Third'),
  ('deck', 'unknown'),
  ('embark_town', 'Southampton'),
  ('alone', 'n')],
 [('survived', '1'),
  ('sex', 'female'),
  ('age', '38.0'),
  ('n_siblings_spouses', '1'),
  ('parch', '0'),
  ('fare', '71.2833'),
  ('class', 'First'),
  ('deck', 'C'),
  ('embark_town', 'Cherbourg'),
  ('alone', 'n')],
 [('survived', '1'),
  ('sex', 'female'),
  ('age', '26.0'),
  ('n_siblings_spouses', '0'),
  ('parch', '0'),
  ('fare', '7.925'),
  ('class', 'Third'),
  ('deck', 'unknown'),
  ('embark_town', 'Southampton'),
  ('alone', 'y')]]

In [69]:
# csv_data_3를 가공하여 생존자, 사망자의 연령 총합과 사람 수를 각각 구해 봅시다. 
# 이후 각각의 데이터로부터 생존자와 사망자의 평균 연령을 구할 수 있습니다. 

titanic_map = csv_data_3.map(lambda x: (x[0][1], float(x[2][1])))
age_sum = titanic_map.reduceByKey(lambda accum, n: accum + n).collect()

cnt = csv_data_3.map(lambda x: (x[0][1], 1)).reduceByKey(lambda accum, n: accum + n).collect()

age_sum_dict = dict(age_sum)
cnt_dict = dict(cnt)
avg_survived = age_sum_dict['1']/cnt_dict['1']
avg_died = age_sum_dict['0']/cnt_dict['0']
print('생존자의 평균 연령: {}'.format(avg_survived))
print('사망자의 평균 연령: {}'.format(avg_died))

생존자의 평균 연령: 29.110411522633743
사망자의 평균 연령: 29.9609375