## E07 - 가수 추천시스템

In [12]:
import pandas as pd
import os

fname = os.getenv('HOME') + '/aiffel/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id', 'artist_MBID', 'artist', 'play']   # 임의로 지정한 컬럼명
data = pd.read_csv(fname, sep='\t', names= col_names)      # sep='\t'로 주어야 tsv를 열 수 있습니다.  
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

In [13]:
# artist_MBID는 빼기

using_cols = ['user_id', 'artist', 'play']
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die Ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [14]:
data['artist'] = data['artist'].str.lower() # 검색을 쉽게하기 위해 아티스트 문자열을 소문자로 바꿔줍시다.
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [15]:
condition = data['user_id'] == data.loc[0, 'user_id']
data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

In [16]:
# 유저 수, nunique() 특정 컬럼에 포함된 유니크한 데이터의 개수 알아보기
data['user_id'].nunique()

358868

In [17]:
# 아티스트 수
data['artist'].nunique()

291346

In [18]:
# 인기 많은 아티스트
artist_count = data.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=False).head(30)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
system of a down         37267
queen                    34174
u2                       33206
daft punk                33001
the cure                 32624
led zeppelin             32295
placebo                  32072
depeche mode             31916
david bowie              31862
bob dylan                31799
death cab for cutie      31482
arctic monkeys           30348
foo fighters             30144
air                      29795
the rolling stones       29754
nine inch nails          28946
sigur rós                28901
green day                28732
massive attack           28691
moby                     28232
Name: user_id, dtype: int64

In [19]:
# 유저별 몇 명의 아티스트를 듣고 있는지에 대한 통계
user_count = data.groupby('user_id')['artist'].count()
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

In [20]:
# 유저별 play횟수 중앙값에 대한 통계
user_median = data.groupby('user_id')['play'].median()
user_median.describe()

count    358868.000000
mean        142.187676
std         213.089902
min           1.000000
25%          32.000000
50%          83.000000
75%         180.000000
max       50142.000000
Name: play, dtype: float64

In [21]:
# 본인의 취향과 유사한 아티스트를 추천받을려면 사용자 취향과 비슷한 아티스트 정보를
# 5개 이상 입력받아야 한다.
# 본인이 좋아하시는 아티스트 데이터로 바꿔서 추가하셔도 됩니다! 단, 이름은 꼭 데이터셋에 있는 것과 동일하게 맞춰주세요. 
my_favorite = ['black eyed peas' , 'maroon5' ,'jason mraz' ,'coldplay' ,'beyoncé']

# 'zimin'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정하겠습니다.
my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist': my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    data = data.append(my_playlist)                        # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

data.tail(10)       # 잘 추가되었는지 확인해 봅시다.

               user_id           artist  play
17535650  sep 20, 2008       turbostaat    12
17535651  sep 20, 2008    cuba missouri    11
17535652  sep 20, 2008  little man tate    11
17535653  sep 20, 2008        sigur rós    10
17535654  sep 20, 2008       the smiths    10
0                zimin  black eyed peas    30
1                zimin          maroon5    30
2                zimin       jason mraz    30
3                zimin         coldplay    30
4                zimin          beyoncé    30

In [27]:
# # 고유한 유저, 아티스트를 찾아내는 코드
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()

# 유저, 아티스트 indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

In [35]:
# 인덱싱이 잘 되었는지 확인해 봅니다. 
print(user_to_idx['zimin'])    # 358869명의 유저 중 마지막으로 추가된 유저이니 358868이 나와야 합니다. 
print(artist_to_idx['black eyed peas'])

358868
376

In [41]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('artist column indexing OK!!')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

data

user_id column indexing Fail!!
artist column indexing Fail!!

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868     376    30
1    358868  270115    30
2    358868    3746    30
3    358868      62    30
4    358868     396    30

[17535660 rows x 3 columns]

In [42]:
# 암묵적/명시적 데이터 분석
# https://orill.tistory.com/entry/Explicit-vs-Implicit-Feedback-Datasets?category=1066301
# 1회만 play한 데이터의 비율을 보는 코드
only_one = data[data['play']<2]
one, all_data = len(only_one), len(data)
print(f'{one},{all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}')  # f-format에 대한 설명은 https://bit.ly/2DTLqYU
# 암묵적 데이터 처리 방향에 대해 결정한다. 선호도, 가중치 등

147740,17535660
Ratio of only_one over all data is 0.84%

In [43]:
# 추천시스템 모델 중 Matrix Factorization(MF, 행렬분해)
# R(평가 행렬) = P(유저 특성), Q(아이템 특성)분리
# m, n -> m, k 와 n, k

# 평가행렬에서 0이 아닌 유효한 값과 좌표만으로 이루어진 매트릭스 생성 필요
# CRS(Compressed Sparse Row) Matrix
# https://lovit.github.io/nlp/machine%20learning/2018/04/09/sparse_mtarix_handling/#csr-matrix
# 실습 위에 설명보고 이해해서 만들어보기
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_artist = data['artist'].nunique()

csr_data = csr_matrix((data.play, (data.user_id, data.artist)), shape= (num_user, num_artist))
csr_data

<358869x291347 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Row format>

In [44]:
# MF모델을 implicit패키지를 이용하여 학습하기
# implicit패키지 내 als(AlternatingLeastSquares)모델 사용
# als : MF에서 쪼개진 두 Matrix를 한쪽은 고정시키고 다른 쪽을 학습하는 방식을 번갈아 수행

from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

In [45]:
# als의 __init__ 파라미터의 의미
# factors : 유저와 아이템의 벡터를 몇 차원으로 할 것인가
# regularization : 과적합을 방지하기 위해 정규화 값을 얼마나 사용할 것인가
# use_gpu : GPU를 사용할 것인가
# iterations : epochs값을 얼마나 할 것인가
# factors와 iterations를 늘리면 학습이 잘 되지만, 과적합 주의

# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

# 모델 훈련
als_model.fit(csr_data_transpose)

HBox(children=(FloatProgress(value=0.0, max=15.0), HTML(value='')))

In [46]:
# 모델에서 나의 벡터와 black eyed peas의 벡터를 어떻게 만들었는지
# 두 벡터를 곱하면 어떤 값이 나오는지 살펴보자

zimin, black_eyed_peas = user_to_idx['zimin'], artist_to_idx['black eyed peas']
zimin_vector, black_eyed_peas_vector = als_model.user_factors[zimin], als_model.item_factors[black_eyed_peas]

In [47]:
zimin_vector

array([ 1.4552987 ,  1.0253887 ,  1.3249363 , -0.31074837, -0.5164656 ,
        0.8220637 ,  0.03500683, -0.16313389,  0.36929053, -0.8470614 ,
        0.38933343, -0.5569322 , -0.7854161 ,  0.3368597 , -0.21006444,
        0.60352975, -0.02546012,  1.3374664 ,  0.37697262, -0.00739554,
        0.879571  ,  0.3885461 ,  0.31177384,  0.72513115,  0.7585588 ,
       -0.8092883 , -0.45372906, -0.00356437,  0.48736858,  0.87185174,
       -1.1135207 , -0.3419996 ,  1.2426255 , -0.14048609, -0.1903967 ,
        0.44082978,  0.25868413, -0.31338766, -0.9197199 , -0.20071423,
        0.49394715,  0.55361396,  1.0441219 , -1.204117  , -0.4391275 ,
       -0.10510448, -0.29307592,  0.19152956,  0.10821865, -1.3845004 ,
       -0.14130466, -0.5747577 , -0.8960121 , -1.2127484 ,  0.50814193,
       -0.7464028 ,  0.73438597, -0.37419036,  0.7935428 ,  0.52590567,
       -0.7342743 , -0.7263955 , -0.38716793,  0.00211883,  0.17124389,
       -0.24375243, -0.96156734, -0.1970601 , -0.34267947, -0.05984185,
        0.63447493,  0.8180688 , -0.11747842,  0.22752725, -0.19449635,
        1.0721242 , -0.6771812 ,  0.9323683 , -0.16152176, -0.5445787 ,
        0.1488164 ,  0.44857   ,  0.77593684, -0.17327364, -0.7460002 ,
       -0.95943093,  0.2622584 ,  0.22172531,  0.11488746, -0.05246016,
        0.640366  , -0.05244122, -0.23313768, -0.1700987 , -0.45227796,
       -0.86632824,  1.545738  , -0.7126655 , -0.2514168 ,  1.3588213 ],
      dtype=float32)

In [48]:
black_eyed_peas_vector

array([ 0.01241481,  0.03050641,  0.03439233,  0.0035911 ,  0.00092851,
        0.0134467 ,  0.0068724 ,  0.00569307,  0.01838497,  0.00612251,
       -0.00159294, -0.00645645, -0.00521151,  0.01192264,  0.0062573 ,
        0.01326969,  0.02033688,  0.02920564,  0.01192211,  0.00685138,
        0.01448108, -0.00251746,  0.00554355,  0.01028308,  0.00863413,
        0.00486824, -0.00298736,  0.00325597,  0.01263476,  0.00479484,
       -0.01004759, -0.00276431,  0.02220858,  0.01536342,  0.0095009 ,
        0.00852599,  0.0049585 , -0.00756642,  0.00262988,  0.00971226,
       -0.00047143,  0.01176464,  0.0303462 , -0.0097267 ,  0.01214438,
        0.00036087, -0.0005682 ,  0.00422338,  0.01750494, -0.02186092,
        0.00839401,  0.01236565,  0.00547938, -0.0121406 ,  0.01204461,
        0.00509566,  0.01352217,  0.01680431,  0.01681389,  0.00412406,
        0.00976224,  0.0045086 ,  0.00119443,  0.01279952,  0.02819571,
       -0.00652531,  0.00303258,  0.00859562,  0.00324399,  0.00685453,
        0.02884218,  0.01825997, -0.0065769 ,  0.00075282,  0.01678179,
        0.01575196, -0.0086468 ,  0.01172642,  0.02295875, -0.00135683,
        0.01736469,  0.0074294 ,  0.02374066,  0.00939434, -0.02465414,
       -0.00983811, -0.00111284,  0.00140221,  0.01272492,  0.00766169,
        0.01346625,  0.00183467, -0.00149961,  0.01295583, -0.00589429,
        0.00298825,  0.01723944, -0.01620432,  0.01286044,  0.01397297],
      dtype=float32)

In [49]:
# zimin과 black_eyed_peas를 내적하는 코드
np.dot(zimin_vector, black_eyed_peas_vector)

# 1이 안된다.

0.5038867

In [50]:
queen = artist_to_idx['queen']
queen_vector = als_model.item_factors[queen]
np.dot(zimin_vector, queen_vector)

# 이 확률이 얼마 정도돼야 선호한다고 볼 수 있나?
# 객관적인 기준은 없지만 데이터에 따라 다르다고 볼 수 있다.

0.32396117

In [25]:
# als내에 similar_items메서드를 이용하여 비슷한 아티스트를 찾아보자.

favorite_artist = 'coldplay'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist
# (아티스트id, 유사도) tuple로 반환

[(62, 0.12755056),
 (277, 0.12590392),
 (28, 0.12504384),
 (5, 0.124775976),
 (473, 0.12430983),
 (490, 0.1240225),
 (217, 0.123995095),
 (247, 0.12386036),
 (418, 0.12315417),
 (694, 0.12163989),
 (268, 0.12150212),
 (910, 0.121278204),
 (1018, 0.12066664),
 (75, 0.120329574),
 (531, 0.12020064)]

In [26]:
#artist_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict를 생성합니다. 
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['coldplay',
 'muse',
 'the killers',
 'red hot chili peppers',
 'placebo',
 'oasis',
 'radiohead',
 'the beatles',
 'u2',
 'foo fighters',
 'pink floyd',
 'nirvana',
 'the smashing pumpkins',
 'queen',
 'depeche mode']

In [27]:
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

get_similar_artist('2pac')

['2pac',
 'nas',
 'notorious b.i.g.',
 'dr. dre',
 'the game',
 'jay-z',
 '50 cent',
 'snoop dogg',
 'eminem',
 'ludacris']

In [28]:
get_similar_artist('lady gaga')

['lady gaga',
 'britney spears',
 'rihanna',
 'katy perry',
 'beyoncé',
 'the pussycat dolls',
 'christina aguilera',
 'justin timberlake',
 'kelly clarkson',
 'nelly furtado']

In [29]:
# als내 recommend메서드를 사용하여 내가 좋아할 만한 아티스트 추천해보자.
# filter_already_liked_items는 유저가 이미 평가한 아이템은 제외한다.

user = user_to_idx['zimin']
# recommend에서는 user*item CSR Matrix를 받습니다.
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(369, 0.47288084),
 (350, 0.45997536),
 (550, 0.4507223),
 (1800, 0.4360878),
 (274, 0.42894107),
 (391, 0.41458753),
 (354, 0.41387442),
 (2249, 0.41231135),
 (355, 0.39675474),
 (409, 0.39213976),
 (5555, 0.38201356),
 (627, 0.38036105),
 (621, 0.37893975),
 (564, 0.37358537),
 (2902, 0.3670876),
 (618, 0.36620435),
 (901, 0.36315367),
 (382, 0.35788333),
 (724, 0.35622218),
 (944, 0.34822363)]

In [30]:
[idx_to_artist[i[0]] for i in artist_recommended]

['justin timberlake',
 'rihanna',
 'britney spears',
 'lady gaga',
 'michael jackson',
 'christina aguilera',
 'nelly furtado',
 'katy perry',
 'madonna',
 'amy winehouse',
 'timbaland',
 'maroon 5',
 'alicia keys',
 'kanye west',
 'james blunt',
 'the pussycat dolls',
 'pink',
 'mika',
 'lily allen',
 'avril lavigne']

In [31]:
# 추천 아티스트 중에 rihanna을 추천하게 한 나의 데이터의 기여 정도 확인해보자
# als내 explain메서드

rihanna = artist_to_idx['rihanna']
explain = als_model.explain(user, csr_data, itemid=rihanna)

# 추천 콘텐츠 점수 = 기여한 다른 콘텐츠 + 기여도
[(idx_to_artist[i[0]], i[1]) for i in explain[1]]

[('beyoncé', 0.2179325742753127),
 ('black eyed peas', 0.14623220485332541),
 ('jason mraz', 0.05904090757818766),
 ('coldplay', 0.03842331067158422),
 ('maroon5', -0.0001908080576564919)]